.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navBar navBar"
        "editArea preview";
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1.8fr;
        grid-template-areas:
            "navBar"
            "editArea"
            "preview";

    }
}

.preview {
    grid-area: preview;
}

.navBar {
    grid-area: navBar;
}

.editArea {
    grid-area: editArea;
}