@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

button {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    margin: 5px;
}

button:hover {
    background-color: #ddd;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.2fr 1.8fr;
    grid-template-areas:
        "FormattingOptions FormattingOptions"
        "editArea preview";
}

@media (max-width: 768px) {
    .container {
        grid-template-rows: 0.2fr 1.8fr 1.8fr;
        grid-template-areas:
            "FormattingOptions"
            "preview"
            "editArea";
    }
}


.FormattingOptions {
    grid-area: FormattingOptions;
}

.editArea {
    grid-area: editArea;
    width: 100%;
    resize: none;
}

.preview {
    grid-area: preview;
    width: 100%;
}